.header{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header h1{
  color: #ebebeb;
}

.header ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.header ul li{
  list-style: none;
  color: #FFF;
  margin-left: 20px;
}